@model  BookStoreWebApp.Models.DTO.RegisterDTO;

@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChatApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ChatApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css">
</head>
<body>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <a href="@Url.Action("Login", "Account")" class="inactive underlineHover"> Sign In </a>
    <h2 class="active">Sign Up </h2>

    <!-- Login Form -->
    <form asp-controller="Account" asp-action="Register" method="POST">
      <input type="text" asp-for="Mail" class="fadeIn second" placeholder="Enter your mail"><br/>
      <span asp-validation-for="Mail" class="text-danger"></span>
      <input type="password" asp-for="Password" class="fadeIn third" placeholder="Enter your password*"><br/>
      <span asp-validation-for="Password" class="text-danger"></span>
      <input type="password" asp-for="ConfirmPassword" class="fadeIn third" placeholder="Confirm your password*"><br/>
      <span class="text-danger">@TempData["confirmPasswordError"]</span>
      <hr />
      <input type="text" asp-for="DisplayName" class="fadeIn third" placeholder="Enter your full name*"><br/>
      <span asp-validation-for="DisplayName" class="text-danger"></span>
      <input type="text" asp-for="Address" class="fadeIn third" placeholder="Enter your student ID*"><br/>
      <span asp-validation-for="Address" class="text-danger"></span>
      <input type="text" asp-for="Phone" class="fadeIn third" placeholder="Nhập số điện thoại của bạn nhé"><br/>
      <span asp-validation-for="Phone" class="text-danger"></span>
      <input type="submit" class="fadeIn fourth" value="Register">
    </form>
    <span class="text-danger">@TempData["generalError"]</span>
  </div>
</div>
</body>
</html>