@{
    var message = (string) TempData["Message"] ?? "";
    var isSuccess = (string) TempData["IsSuccess"] == null ? "false" :  TempData["IsSuccess"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BStore</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        html {
            scroll-behavior: smooth;
        }
    </style>
    <link href="~/css/toast.css" rel="stylesheet" />
</head>
<!-- body -->
<body class="main-layout home_page" onload="onLoadedHook(`@message`, '@isSuccess','@User.Identity.Name')">
    <header class="h-20 py-2 w-full bg-white shadow z-10 fixed">
        <div class="h-full max-w-7xl mx-auto flex items-center z-10">
            <a class="h-fit w-fit block flex items-center" href="/">
                <img src="~/images/book_logo.jpg" width="80" height="80"/>
                <div class="text-xl font-bold">BStore</div>
            </a>

            <div class="mx-auto">
            </div>
            @if(User.Identity.Name != null)
            {
                <div class="mr-5">Hello, @User.Identity.Name</div>
                <a class="relative cursor-pointer" asp-action="Index" asp-controller="Cart">
                    <span>
                        <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.1568 5.1772C16.0284 4.84626 15.7343 4.81766 14.2887 4.81766H13.0875V4.2947C13.0875 3.48165 12.9716 2.91374 12.6899 2.32949C12.1804 1.2713 11.3272 0.531797 10.2213 0.188601C9.68279 0.0251747 8.87923 -0.0442816 8.39047 0.0292604C7.03602 0.241715 5.88039 1.09562 5.29223 2.31315C5.00642 2.90966 4.89045 3.48165 4.89045 4.2947V4.82175H3.68511C2.23954 4.82175 1.94546 4.85035 1.81705 5.19354C1.75078 5.41008 1.12948 10.0637 0.864385 12.0697C0.632431 13.8184 0.417045 15.469 0.259648 16.711C-0.0137267 18.8519 -0.00544266 18.8846 0.00284141 18.9214V18.9255C0.0401198 19.0644 0.408761 19.428 0.520596 19.5342L1.00521 20H16.9438L17.3041 19.6854C17.4657 19.5424 18 19.0562 18 18.8152C18 18.6517 16.1899 5.27117 16.1568 5.1772ZM16.6911 18.5046C16.687 18.5332 16.6538 18.619 16.5958 18.6803L16.513 18.7702H1.46498L1.2496 18.5414L2.09871 12.2863C2.39694 10.0596 2.66203 8.11888 2.81943 6.95855C2.88984 6.45193 2.92298 6.19453 2.93955 6.06788C3.49872 6.06379 5.94252 6.0597 8.98278 6.0597H15.0302L15.0384 6.10465C15.1047 6.4315 16.6621 18.141 16.6911 18.5046ZM6.1372 4.82175V4.35598C6.1372 4.04139 6.17862 3.6083 6.22418 3.40811C6.46856 2.38669 7.30111 1.5573 8.34076 1.29173C8.77568 1.1855 9.48811 1.22228 9.92303 1.37753H9.92717C10.3828 1.5287 10.7556 1.77384 11.0994 2.14972C11.6544 2.74623 11.8408 3.28145 11.8408 4.27018V4.82175H6.1372Z"
                              fill="black"></path>
                        </svg>
                    </span>
                    <div class="w-5 bg-blue-600 aspect-square rounded-full absolute -top-2.5 -right-2.5 flex justify-center items-center text-sm"
                     style="font-size: 10px;">
                        <span class="text-white" id="numOfItemsInCart">...</span>
                    </div>
                </a>
                 <a asp-controller="Order" asp-action="Index" class="ml-4">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 48 48"><g fill="none" stroke="#000" stroke-width="4"><path stroke-linecap="round" stroke-linejoin="round" d="M42 24V9C42 7.34315 40.6569 6 39 6H9C7.34315 6 6 7.34315 6 9V39C6 40.6569 7.34315 42 9 42H24" /><circle cx="32" cy="32" r="6" fill="#2F88FF" /><path stroke-linecap="round" stroke-linejoin="round" d="M37 36L42 40" /><path stroke-linecap="round" stroke-linejoin="round" d="M14 16H34" /><path stroke-linecap="round" stroke-linejoin="round" d="M14 24L22 24" /></g></svg>
                    </span>
                </a>
                 <a asp-controller="Account" asp-action="Logout" class="ml-4">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24"><path fill="none" stroke="#888888" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" /></svg>
                    </span>
                </a>
            }
            else
            {
                <div class="flex">
                    <a asp-action="Login" asp-controller="Account" class="py-3 px-7 text-base font-medium text-slate-900">
                        Sign In
                    </a>
                    <a asp-action="Register" asp-controller="Account"
                   class="bg-blue-600 py-3 px-6 text-base font-medium text-white duration-300 rounded-lg hover:bg-violet-700 hover:text-white">
                        Sign Up
                    </a>
                </div>
            }
        </div>
        <div class="notify z-[1000] flex items-center"><span id="notifyType" class="block ml-3"></span></div>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container text-center pb-3">
            &copy; 2023 - BookStoreWebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Javascript files-->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery-3.0.0.min.js"></script>
    <script src="~/js/plugin.js"></script>
    <!-- sidebar -->
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>    <script src="~/js/toast.js"></script>
    <script src="~/js/cart-process.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
